body {
  font-family: Arial;
  margin: 0;
  background: #f1f3f6;
}

/* Header */
header {
  background: maroon;
  color: white;
  text-align: center;
  padding: 12px;
  position: sticky;
  top: 0;
}

/* Filters */
.filters {
  padding: 10px;
  text-align: center;
}

/* Products (App Grid) */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  margin-bottom: 70px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 8px;
}

/* Button */
button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
  width: 100%;
  border-radius: 5px;
}

/* Gallery */
.gallery {
  padding: 10px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gallery-container img {
  width: 100%;
  border-radius: 10px;
}

/* Services */
.services {
  padding: 15px;
  background: #fff;
}

/* COD */
.cod {
  background: #ffe4b5;
  padding: 10px;
  text-align: center;
}

/* Contact */
.contact {
  padding: 15px;
  background: #fff;
}

/* Bottom Nav */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  padding: 8px 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  text-align: center;
}
